<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.agevoluzione.tools.android.rfidreaderhelperdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivityDemo"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

<!--        Rfid Reader DEMO -->
        <activity
            android:name=".activities.DemoRfidReader"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

<!--        Record receiver with meta-data -->
        <receiver android:name="it.agevoluzione.tools.android.usbconnectorhelper.UsbConnectionMonitor">
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </receiver>
<!--        Record receiver with meta-data -->
<!--        END Rfid Reader DEMO -->

<!--        DemoAnimator DEMO -->
        <activity
            android:name=".activities.DemoAnimator"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
<!--        END DemoAnimator DEMO -->

<!--        DemoDialogLoader DEMO -->
        <activity
            android:name=".activities.DemoDialogLoader"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
<!--        END DemoDialogLoader DEMO -->



    </application>

</manifest>